<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}  <a class="gif-click gif-pikachu" data-src='./images/pikachu.gif'>Pikachu</a> </title>

    {% include meta.html %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138916983-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-138916983-1');
</script>

    <link rel="shortcut icon" href="https://crstian.me/img/favicon-32x32.png" type="image/x-icon" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <a href="https://github.crstian.me" target="_blank" class="github-corner"><svg class="giticon" width="80" height="80" viewBox="0 0 250 250"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
          fill="currentColor" class="octo-body"></path>
        </svg>
    </a>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="loader">
      <img src="https://crstian.me/img/blackarch.gif" alt="Blackarch gif">
      <div class="pre-logo">
        <h4 class="rainbow-text">Crstian</h4>
      </div>
    </div>
  </div>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">Sobre mi</a>
            <a href=https://crstian.me/ target="_blank">Web</a>
            <a class="gif-click gif-pikachu" data-src='https://i.imgur.com/hALdLiE.gif'>🙀</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}


  <!--Script -->

  <!-- Jquery v1.12.0 -->
  <script src="https://crstian.me/js/jquery.min.js"></script>
  <!--Bootstrap Js-->
  <script src="https://crstian.me/js/bootstrap.min.js"></script>
  <!--Classie js -->
  <script src="https://crstian.me/js/classie.min.js"></script>
  <!--Typed js -->
  <script src="https://crstian.me/js/typed.min.js"></script>
  <!-- OwlCarousel -->
  <script src="https://crstian.me/js/owl.carousel.min.js"></script>
  <!-- Waypoints -->
  <script src="https://crstian.me/js/jquery.waypoints.min.js"></script>
  <!-- ScrollReveal -->
  <script src="https://crstian.me/js/scrollreveal.min.js"></script>
  <!-- CountTo -->
  <script src="https://crstian.me/js/jquery.countTo.min.js"></script>
  <!-- SmoothScroll -->
  <script src="https://crstian.me/js/smooth-scroll.min.js"></script>
  <!-- Custom js -->
  <script src="https://crstian.me/js/main.js"></script>
  <!-- Pikachu -->
  <script src="./scripts/pikachu.js"></script>
  <script src="https://rawgit.com/WeiChiaChang/Easter-egg/master/easter-eggs-collection.js"></script>
  <script src="https://rawgit.com/WeiChiaChang/easter-eggs-mobile/master/scripts/easter-egg-mobile.js"></script>
  </body>
</html>
