---
layout: default2
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry" class="box">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="manopla">
    <img id="gauntlet" src="https://raw.githubusercontent.com/leonardomath/Thanos-Infinity-Gauntlet/master/img/1.png" onclick="trick()">
</div>

  {% include disqus.html %}
</article>

<script src="https://github.com/Crstian19/crstian19.github.io/blob/master/js/jquery.js"></script>
<script src="https://github.com/Crstian19/crstian19.github.io/blob/master/js/Gauntlet.js"></script>
